* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.screen {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 20px auto;
}

#flex {
    width : 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.list{
    margin-left: 50px;
}

.action-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #0056b3;
}

#customerTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

#customerTable th,
#customerTable td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
}

#customerTable th {
    background-color: #f5f5f5;
    font-weight: bold;
}

