body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.screen {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: 20px auto;
}

#addCustomerForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

#addCustomerForm label {
    font-weight: bold;
}

#addCustomerForm input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#addCustomerForm button {
    grid-column: span 2;
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addCustomerForm button:hover {
    background-color: #0056b3;
}
#addCustomerForm div{
    text-align: right;
}
